body {
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 15%, #dcdbd3 15%, #dcdbd3 100%);
}

#user,
#chat-user {
    height: 70px;
}

#type-bar {
    background-color: #f3eeea;
}

.app-window {
    height: 90vh;
}

#chat {
    background-color: black;
}

.chat-bg-image {
    background-image: url(../img/mine.jpg);
    background-size: contain;
}

#sidebar {
    background-color: white;
}

#search-bar {
    position: relative;
}

#search-bar input {
    padding-left: 40px;
}

#search-bar .bi-search {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}

#contacts li {
    height: 70px;
    border-bottom: 2px solid lightgray;
    cursor: pointer;
}

#contacts li:hover {
    background-color: lightgray;
}

/* UTILS */
.h-10 {
    height: 10%;
}

.bg-light {
    background-color: #eaeaea;
}

.bg-blue {
    background-color: #8edafc;
}

.bg-lightgrey {
    background-color: #f9f9f9;

}

.bg-white {
    background-color: white;
}

.text-blue {
    color: #8edafc;
}

.icon-container {
    width: 50px;
    height: 50px;
}

.w-85 {
    width: 85%;
}

.w-15 {
    width: 15%;
}

/* MESSAGES */

.sent {
    justify-content: flex-end;
}

.received {
    justify-content: flex-start;
}

.received .message-content {
    background-color: #fff;
}

.sent .message-content {
    background-color: #d5f9ba;
}